/* CONTAINER STYLING */

.page {
    font-family        : 'Montserrat', sans-serif;
    background-image   : url('https://images.unsplash.com/photo-1594065296416-aed7ae708d58');
    background-size    : cover;
    background-position: center;
    min-height         : 100vh;
}

.back {
    position  : absolute;
    top       : 0;
    bottom    : 0;
    left      : 0;
    right     : 0;
    background: rgba(6, 29, 79, .8);
}


.calculator {
    position      : absolute;
    left          : 50%;
    top           : 50%;
    transform     : translate(-50%, -50%);
    width         : 600px;
    display       : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "income income"
      "rank grade"
      "results results";
    background    : #fff;
    border-radius : 10px;
    overflow      : hidden;
    box-shadow    : 0px 0px 6px 2px rgba(0, 0, 0, .4);
}

/* SEGMENTS STYLING */

.segment:last-child {
    border-bottom: none;

}

.calculator__texts {
    grid-area: income;
    padding: 10px 10px;
}

.calculator__text-item {
  margin-top: 10px;
}

.calculator__results {
  grid-area: results;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: #fff4c4;
}

/* ELEMENTS STYLING */

.calculator__header {
    padding: 20px 0;
    grid-area: header;
    background: #758fc7;
    padding   : 10px;
    text-align: center;
    color     : #fff;
    flex-basis: 100%;
    margin: 0;
}

.calculator__subheader {
  color           : #758fc7;
  align-self: flex-start;
  margin: 0;
 }

.calculator__subheader_color_dark {
  color: #3b3416;
}

.calculator__rank {
  grid-area: rank;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__rank-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px 0;
  padding: 0;
}

.calculator__grade {
  grid-area: grade;
  padding: 10px 10px;
  border-left: 1px solid #adb7c4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator__grade-list {
  list-style: none;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 10px 0;
  padding: 0;

}

.calculator__results {
  padding: 10px 10px;
}

.calculator__result-item {
    text-align: right;
    font-size  : 1.1rem;
    margin: 10px 0 0 0;
}

.calculator__number {
    white-space  : nowrap;
    color        : #3b3416;
    font-weight  : bold;
    padding      : 0 5px;
    background   : #fff;
    border-radius: 10px;
    border-bottom: 3px solid #dbd1a4;
}

.text-item {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

.text-item__input {
    border       : none;
    border-bottom: 3px solid #ccd5e0;
    padding      : 5px;
    background   : #ebeff5;
    font-size    : 1.5rem;
    border-radius: 10px 0 0 10px;
    outline      : none;
    transition   : all 0.3s ease;

}

.text-item__label {
    text-align: center;
    display      : block;
    padding      : 5px;
    font-size    : 0.8rem;

    background   : #ccd5e0;
    transition   : all 0.3s ease;
    border-radius: 0 10px 10px 0;
}

.text-item__input:focus {
    background   : #dde2eb;
    border-bottom: 3px solid #758fc7;
}


.text-item__input:focus + .text-item__label{
    background   : #758fc7;
    color: #fff;
}

.radio-item__input {
    display: none;

}

.radio-item {
    position: relative;
}

.radio-item__label {
    cursor       : pointer;
    background   : #ebeff5;
    padding      : 5px 7px;
    border-radius: 10px;
    border-bottom: 3px solid #ccd5e0;
    transition   : all 0.3s ease;
    color        : #99abd1;
    width        : 100%;
}

.radio-item__input:checked+.radio-item__label {
    color        : black;
    background   : #dde2eb;
    border-bottom: 3px solid #758fc7;
}

.calculator__grade .radio-item__input:checked+.red {
    background   : #e9c1c1;
    border-bottom: 3px solid #c77575;
}

.calculator__grade .radio-item__input:checked+.yellow {
    background   : #f1eda8;
    border-bottom: 3px solid #cdcf3b;
}

.calculator__grade .radio-item__input:checked+.green {
    background   : #c4f3c2;
    border-bottom: 3px solid #40cf3b;
}
